@{
    Layout = "_LayoutAdmin";
}

<script src="~/js/jquery3.7.1.js"></script>
<div class="col-md-10">
    <input type="file" id="dosyaYukle" />
    <button onclick="fotoYukle();">Yükle</button>
</div>


<script>
    // function sayHello() {
    //     alert("merhaba");
    // }

    function fotoYukle() {
        const file = dosyaYukle.files[0];
        const url = `/api/FileUpload/UploadFile/ `;
        const formData = new FormData();
        formData.append('file', file);

        fetch(url, {
            method: 'POST',
            body: formData,
        })
    }
</script>
    